    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Gaul Coin</h2>
              <br/>
                <p>GAUL is a cryptocurrency that can be earn by participating in Investbox.</p>
                <p>You can invest your GAUL Coin at <a href="https://www.altilly.com/page/investbox">Altilly Investbox</a>.</p>
                <br/><p>OR</p><br/>
                <p>Get free GAUL Coin at <a href="https://www.altilly.com/page/faucets">Altilly Faucet</a>, <a href="https://twitter.com/gaulcoin">Twitter Tipping Bot</a> or <a href="https://t.me/gaulcoin">Telegram Tipping Bot</a></p>
                <br/>
              </div>
        </div>
    </section>
